body {
    background-color: black;
    color: aliceblue;
}

.MovieDetails {
    background-color: rgb(13, 13, 37);
    color: azure;
    margin-top: 3rem;
    border-radius: 1rem;
}

.leftSection {
    padding: 1rem;
}

.RightSec {
    padding: 0;
}

.image-container {
    height: 100%;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.Carousel {
    padding: auto;
    margin-top: 4rem;
    margin-left: 4rem;
}

.inside img {
    padding: 1rem;
}

.inside p {
    margin-left: 1rem;
    text-align: start;
    margin-bottom: 2px;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h4 {
    padding: 3rem;
}

/* Add this to your CSS file */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}


.pagination span {
    display: inline-block;
    margin: 0 10px;
    line-height: 2;
}